body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    background-color: #333333;
    font-family: sans-serif;
  }
  .navbar {
    background:rgba(255,255,255,0.09);
  }
  
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
     color:black !important;
  }