@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
  }
  body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #2c2c2c;
    background: radial-gradient(ellipse at center, #29382c 0%, #0c100d 100%);
    color: #fff;
    overflow: hidden;
  }
  html,
  body {
    height: 100%;
  }
  .main-wrapper {
    position: relative;
    padding: 0;
    min-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .loader {
    position: relative;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .noise-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: 10;
  }
  .noise-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  }
  .noise {
    position: absolute;
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
    background-size: 320px 320px;
    opacity: 0.35;
    -webkit-animation: noise 1s steps(8, end) infinite both;
            animation: noise 1s steps(8, end) infinite both;
  }
  @-webkit-keyframes noise {
    0% {
      -webkit-transform: translateX(0px, 0px);
              transform: translateX(0px, 0px);
    }
    10% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
    20% {
      -webkit-transform: translate(150px, -100px);
              transform: translate(150px, -100px);
    }
    30% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
    40% {
      -webkit-transform: translate(100px, -150px);
              transform: translate(100px, -150px);
    }
    50% {
      -webkit-transform: translate(-100px, 200px);
              transform: translate(-100px, 200px);
    }
    60% {
      -webkit-transform: translate(-200px, -100px);
              transform: translate(-200px, -100px);
    }
    70% {
      -webkit-transform: translateY(50px, 100px);
              transform: translateY(50px, 100px);
    }
    80% {
      -webkit-transform: translate(100px, -150px);
              transform: translate(100px, -150px);
    }
    90% {
      -webkit-transform: translate(0px, 200px);
              transform: translate(0px, 200px);
    }
    100% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
  }
  @keyframes noise {
    0% {
      -webkit-transform: translateX(0px, 0px);
              transform: translateX(0px, 0px);
    }
    10% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
    20% {
      -webkit-transform: translate(150px, -100px);
              transform: translate(150px, -100px);
    }
    30% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
    40% {
      -webkit-transform: translate(100px, -150px);
              transform: translate(100px, -150px);
    }
    50% {
      -webkit-transform: translate(-100px, 200px);
              transform: translate(-100px, 200px);
    }
    60% {
      -webkit-transform: translate(-200px, -100px);
              transform: translate(-200px, -100px);
    }
    70% {
      -webkit-transform: translateY(50px, 100px);
              transform: translateY(50px, 100px);
    }
    80% {
      -webkit-transform: translate(100px, -150px);
              transform: translate(100px, -150px);
    }
    90% {
      -webkit-transform: translate(0px, 200px);
              transform: translate(0px, 200px);
    }
    100% {
      -webkit-transform: translate(-100px, 100px);
              transform: translate(-100px, 100px);
    }
  }
  