
html, body
{
  font-family: 'Roboto Mono', monospace;
  background: #212121 ;
  height: 100%;
}
img
{
  max-width: 200px;

  opacity: 0.5;
}
.container
{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text
{
  font-weight: 100;
  font-size: 42pt;
  color: #FAFAFA;
}

.dud
{
  color: #757575;
}


